graft example_project_python

include LICENSE
include README.md

include .bumpversion.cfg
include pyproject.toml
include Makefile

prune .github
exclude .gitignore
exclude .gitattributes

include *.md
include *.yml
recursive-include pyobjectify *.example
recursive-include pyobjectify *.csv
recursive-include pyobjectify *.json
recursive-include pyobjectify *.tsv
recursive-include pyobjectify *.xml

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store